
.dtc-wrapper {
	position: relative;
	font-size: 15px;
	--panel-width: 380px;
	--panel-color: #f9f9fa;
}




.dtc-wrapper form.ht-configurator {
	transition: opacity 200ms;
}
.dtc-wrapper.htc-loading form.ht-configurator {
	opacity: 0.4;
	pointer-events: none;
}


.dtc-image-column {
	padding-right: var(--panel-width);
	height: 100%;
}

.dtc-options-column {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: calc( 100% - var(--panel-width) );
	overflow-y: scroll;
	background: linear-gradient(to right, transparent calc(100% - var(--panel-width)), var(--panel-color) calc(100% - var(--panel-width)), var(--panel-color) 100%);

}

.dtc-image-wrapper {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.dtc-image-wrapper img {
	object-fit: contain;
	object-position: center;
	max-width: 100%;
	max-height: 100%;
	padding: 5vh;

}

.dtc-options-wrapper {
	padding: 20px;
}






.dtc-options-wrapper fieldset {
	border: none;
}

.dtc-options-wrapper legend {
	font-weight: bold;
	font-size: 1.2em;
}




.dtc-options-footer {

}




.site-footer {
	padding-block-start: 0 !important;
	padding-block-end: 0 !important;
}







.dtc-wrapper fieldset {
	margin-bottom: 20px;
}
.dtc-wrapper fieldset input[type="radio"] {
	display: none;
}


.dtc-wrapper fieldset label {
	display: block;
	padding: 15px 20px;
	margin: 6px 0;
	border: 2px solid #eee;
	border-radius: 5px;
	cursor: pointer;
	transition: border-color 250ms, background-color 250ms;
	background-color: #fcfcfc;
}
.dtc-wrapper fieldset label:hover {
	background-color: #f8f8fa;
}

.dtc-wrapper fieldset input[type="radio"]:checked + label {
	border: 2px solid #007dd1;
	background-color: #fff;
}


.dtc-wrapper fieldset p.dtc-fieldset-description {
	opacity: 0.8;
	line-height: 1.3;
}

.dtc-wrapper fieldset .option-name {
	font-weight: bold;
	opacity: 0.85;
}
.dtc-wrapper fieldset .option-description {
	font-size: 0.9em;
	opacity: 0.8;
	margin-top: 6px;
}
.dtc-wrapper fieldset .option-price {
	text-align: right;
	font-size: 0.9em;
	margin-top: 6px;
}






.dtc-fieldset-popup-open {
	font-size: 11px;
	color: #007dd1;
	text-decoration: underline;
}
.dtc-fieldset-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.dtc-fieldset-popup-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 70%;
	width: 600px;
	max-width: 80%;
	border-radius: 10px;
	background-color: #fff;
	transform: translate(-50%, -50%);
	padding: 30px;
	box-shadow: 0px 30px 60px rgba(0,0,0,.05);
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
.dtc-fieldset-popup-heading {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}
.dtc-fieldset-popup-text {
	flex-grow: 1;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.dtc-fieldset-popup-ok {
	background-color: #007dd1;
	border-radius: 30px;
	border: none;
	color: #fff;
	font-weight: bold;
	align-self: flex-end;
}
.dtc-fieldset-popup-ok:hover {
	background-color: #007dd1;
	opacity: 0.8
}